html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}
#coordinates {
    position: relative;
    float: right;
    padding: 0 5px;
    background: #FFFFFF;
}
#scale-container {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #FFFFFF;
}
#scale {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#showGrid.selected,
#showScale.selected {
    background-color: rgba(76,175,80,0.5);
}

#developerToggle {
    float: right;
    height: 10px;
    width: 10px;
}

.fullScreen:-moz-full-screen {
    height: 100%;
}
.fullScreen:-webkit-full-screen {
    height: 100%;
}
.fullScreen:-ms-fullscreen {
    height: 100%;
}

.fullScreen:fullscreen {
    height: 100%;
}

.fullScreen {
    width: 100%;
    height: 400px;
}

.label {
    text-decoration: none;
    color: transparent;
    position: relative;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.hiddenLayer {
    text-decoration: none;
    background: rgba(0,0,0,0.2);
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px;
}
